@media (min-width:630px) {
    .nav__menu-burger{
        display: none;
    }
}
@media (max-width:1280px) {
  .main {
    padding-right: 20px;
  }
  .main__wraper{
    padding-left: 30px;
  }
}
@media (max-width:1020px) {
    .projects{
        margin-right: 30px;
        padding-right:6px;
    }
    .main__title {
        font-size: 40px;
    }
}

@media (max-width:950px) {
    .main__title {
        font-size: 38px;
    }
    .photo__png-item {
        max-width: 237px;
        width: 100%;
     }
     .profile__title, 
     .experience__title, 
     .project__title {
        margin-top: 37px;
    }
}

@media (max-width:883px) {
 .nav__menu{
    max-width: 740px;
 }
 .main__title{
    font-size: 33px;
 }
 .profile__title, 
 .experience__title, 
 .project__title {
    margin-top: 42px;
}
.main__title-profession {
    font-size: 20px;
}
}

@media (max-width:826px) {
    .main__certificates-inner{
        margin: 0 10px;
    }
}

@media (max-width:803px) {
    .nav__menu{
       max-width: 700px;
       font-size: 12px;
    }
}
@media (max-width:777px) {
    .main__title {
        font-size: 24px;
    }
    .main__title-profession {
        font-size: 14px;
    }
    .photo__png-item {
        max-width: 221px;
    }
}

@media (max-width:763px) {
    .nav__menu{
       max-width: 600px;
       font-size: 11px;
    }
    .photo__png {
        max-width: 253px;
        width: 100%;
        margin: 0 auto;
    }

}

@media (max-width:630px) {
    .main {
        padding-top: 60px;
        margin-right: 28px;
    }
    .aside {
        padding-top: 60px;
    }
    .photo {
        margin: 0;
        margin-left: 16px;
    }
    .nav__menu {
        top: 20px;
    }
    .nav__menu-burger{
        display: block;
        position: relative;
    }
    .nav__menu-item{
        display: none;
    }
    .btn-lan{
        margin-left: 20px;
    }
    .nav__menu {
        max-width: 630px;
    }
    .main__wraper {
        padding-left: 20px;
    }
    .nav__item-mob{
        display: block;
    }
    .nav__menu-mob {
        width: 133px;
        height: 148px;
        padding: 13px 10px 36px 30px;
        left: -59px;
        top: 98px;
        font-size: 14px;
        background: #f7f8ff;
        display: none;
        flex-direction: column;
        align-items: end;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        z-index: 10;
    }
    .nav__menu-mob-active{
        display: flex;
    }
    .github-icon__img{
        position: absolute;
        left: 85px;
        bottom: 2px;
    }
    .photo {
        max-width: 214px;
        width: 100%;
    }
    .photo__png-item {
        max-width: 209px;
        width: 100%;
    }
    .contacts__wraper {
        margin-top: 30px;
    }
    .profile__title, 
    .experience__title, 
    .project__title {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .education__title, 
    .language__title, 
    .skills__title {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .profile__text, 
    .experience__text {
        font-size: 12px;
    }
    .projects, 
    .certificates {
        font-size: 12px;
    }
    .header__title {
        font-size: 18px;
    }
}
@media (max-width:606px) {
    .main {
        margin-right: 28px;
    }
    .aside {
        padding-right: 20px;
    }
    .photo {
        margin-left: 0;
    }
    .aside__wraper {
        margin: 0;
    }
    .photo__png {
        margin: 0 10px;
    }
    .main__title {
        font-size: 20px;
    }
    .main__title-profession {
        font-size: 12px;
    }

    .photo__png {
        max-width: 180px;
        width: 100%;
        margin: 0 auto;
    }
    .photo {
        max-width: 181px;
        width: 100%;
    }
    .profile__title, 
    .experience__title, 
    .project__title {
        margin-top: 23px;
    }
    .education__discr, 
    .skills__list {
        width: 100%;
    }
}
@media (max-width:512px) {
    .main {
        max-width: 250px;
    }
    .photo__png-item {
        max-width: 168px;
    }
    .contacts__img img {
        height: 88px;
    }
    .contacts__address-phone a::before, 
    .contacts__address-gmail a::before, 
    .contacts__address-home a::before {
        top: -1px;
        left: -39px;
    }
    .main__title {
        font-size: 16px;
    }
    .main__title-profession {
        font-size: 9px;
    }
    .contacts__address {
        font-size: 10px;
        font-weight: bold;
    }
    .profile__title, 
    .experience__title, 
    .project__title {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .education__title, 
    .language__title, 
    .skills__title {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .footer__git {
        font-size: 10px;
    }
    .header__title {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .main__certificates-link {
        font-size: 14px;
    }
}

@media (max-width:472px) {
    .aside {
        padding-top: 62px;
    }
    .main {
        padding-top: 62px;
        padding-right: 10px;
    }
    .photo {
        max-width: 131px;
    }
    .photo__png {
        max-width: 130px;
    }
    .main__title {
        font-size: 16px;
    }
    .contacts__wraper {
        display: flex;
        margin-top: 20px;
    }
    .contacts__img img {
        height: 72px;
    }
    .contacts__address-phone a::before, 
    .contacts__address-gmail a::before, 
    .contacts__address-home a::before {
        top: -1px;
        left: -36px;
    }
    .contacts__address {
        padding: 7px 16px 7px 16px;
    }
    .profile__title, 
    .experience__title,  
    .project__title {
        margin-top: 12px;
    }
    .education__discr-item,
    .experience__discr-item,
    .language__list li, 
    .skills__list li {
        font-size: 12px;
    }
    .main__title-profession {
        font-size: 9px;
    }
    .main__certificates-link {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .main__certificates-img {
        margin-bottom: 10px;
    }
}
@media (max-width:388px) {
    .photo {
        max-width: 116px;
    }

    .main__title {
        font-size: 14px;
    }
    .main__title-profession {
        font-size: 8px;
    }
    .main__certificates-link {
        font-size: 10px;
    }
}
@media (max-width:370px) {
    .main {
        max-width: 190px;
        margin-right: 22px;
        padding-right: 6px;
    }
    .main__wraper {
        padding-left: 20px;
    }
    .aside {
        padding-right: 10px;
    }
    .btn-lan {
        margin-left: 10px;
    }
    .btn-lan {
        width: 40px;
        padding: 0;
        text-align: center;
    }
    .nav__menu-line {
        height: 2px;
        width: 24px;
    }
    .contacts__address {
        padding: 10px 10px 0 10px;
        font-weight: bold;
    }
    .contacts__address-phone a::before, 
    .contacts__address-gmail a::before, 
    .contacts__address-home a::before {
        left: -30px;
        top: -2px;
    }
    .contacts__wraper {
        margin-top: 17px;
    }
    .photo__png-item {
        max-width: 110px;
    }
    .photo__png {
        max-width: 115px;
    }
    .contacts__address {
        font-size: 9px;
    }
    .profile__title, 
    .experience__title, 
    .project__title {
        font-size: 14px;
    }
    .education__discr-item,
    .experience__discr-item,
    .language__list li, 
    .skills__list li {
        font-size: 10px;
    }
    .projects {
        margin-right: 22px;
    }
    .projects, 
    .certificates {
        font-size: 10px;
    }
    .footer__git {
        font-size: 8px;
    }
}





