* {
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
  
a{
    text-decoration: none;
    color: inherit;  
    display: inline-block;
}
  
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
  
h1, h2, h3, h4, h5, h6{
    margin: 0; 
}
p{
    margin: 0;
}
body {
    font-family:"Roboto-Light", "sans-serif";
    font-size: 12px;
    min-height: 320px;
    color: rgb(37, 37, 37);
    max-width: 1920px;
    margin: 0 auto;
  }

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

div{
    background-color: rgb(240, 240, 167);
}

  
  
.Lorem_ipsum_dolor_sit_amet__consectetur_adipisi {
    font-size: 50px;
    font-family: "Roboto";
    color: rgb(37, 37, 37);
    line-height: 1.333;
    text-align: left;
    position: absolute;
    left: 201.703px;
    top: 1429.894px;
    width: 1212px;
    height: 248px;
    z-index: 47;
  }
  