* {
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
  
a{
    text-decoration: none;
    color: inherit;  
    display: inline-block;
}
  
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
  
h1, h2, h3, h4, h5, h6{
    margin: 0; 
}
p{
    margin: 0;
}
body {
    font-family:"Roboto-Light", "sans-serif";
    font-size: 12px;
    min-height: 320px;
    color: rgb(37, 37, 37);
    max-width: 1920px;
    margin: 0 auto;
  }

.container{
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav__menu{
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    position: absolute;
    display: flex;
    max-width: 700px;
    left:50%;
    top:30px;
    transform:translate(-50%, -50%);
    color:#282828;
}
.nav__menu-item + .nav__menu-item {
    margin-left: 68px;
}
.nav__menu-item:hover{
    font-family: 'Montserrat-Regular';
    color:#f1cb59;
    cursor: pointer;
}

.container-1{
    padding-top: 70px;
}
  